<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crime Prediction</title>
    <link rel="stylesheet" type="text/css" href="static/styles/crime.css">
</head>
<body>
<div class="container">
  <h1>INPUT </h1>
  <form action = "http://localhost:5000/result" id="form" action="/" method="POST">
  <div class="selectLabel"> Input Your Age:      
    <input id= "age_select" name="Age">
    </input>
  </div>
  <div class="selectLabel"> Select Your Gender:      
    <select id="gender_select" name="Gender">
    	<option value="Select">Select</option>
    	<option value="M">Male</option>
    	<option value="F">Female</option>
    </select>
  </div>
  <div class="selectLabel"> Select Your Crime Category to Avoid:
    <select id="option3_select" name="Crime">
    	<option value="Select">Select</option>
    	<option value="Arson">Arson</option>
    	<option value="Assault Offenses">Assault Offenses</option>
        <option value="Bribery">Bribery</option>
        <option value="Burglary/Breaking & Entering">Burglary/Breaking & Entering</option>
        <option value="Counterfeiting/Forgery">Counterfeiting/Forgery</option>
        <option value="Destruction/Damage/Vandalism of Property">Destruction/Damage/Vandalism of Property</option>
        <option value="Drug/Narcotic Offenses">Drug/Narcotic Offenses</option>
        <option value="Embezzlement">Embezzlement</option>
        <option value="Extortion/Blackmail">Extortion/Blackmail</option>
        <option value="Fraud Offenses">Fraud Offenses</option>
        <option value="Homicide Offenses">Homicide Offenses</option>
        <option value="Human Trafficking">Human Trafficking</option>
        <option value="Kidnapping/Abduction">Kidnapping/Abduction</option>
        <option value="Larceny/Theft Offenses">Larceny/Theft Offenses</option>
        <option value="Motor Vehicle Theft">Motor Vehicle Theft</option>
        <option value="Pornography/Obscene Material">Pornography/Obscene Material</option>
        <option value="Prostitution Offenses">Prostitution Offenses</option>
        <option value="Robbery">Robbery</option>
        <option value="Sex Offenses">Sex Offenses</option>
        <option value="Stolen Property Offenses">Stolen Property Offenses</option>
        <option value="Weapon Law Violations">Weapon Law Violations</option>
    </select>
  </div>
  <div class="selectLabel"> Select Your Population Range:
    <select id="option4_select" name="Pop">
    	<option value="Select">Select</option>
    	<option value="Under 25,000">Rural</option>
    	<option value="25,000 - 99,999">Suburban</option>
        <option value="100,000 - 499,999">Urban</option>
        <option value="Over 500,000">Metro</option>
    </select>
  </div>
    <input type="submit" value="Submit" class="submitButton">
</div>
<div class="container">
  <h1>OUTPUT</h1>
  <div class="ouputText">Selected Gender: {{ gender }}</div>
  <div class="ouputText">Selected Age: {{ age }}</div> 
  <div class="ouputText">Selected Crime Category: {{ crime }}</div>
  <div class="ouputText">Selected Population Range: {{ pop }}</div>
  <div class="ouputText" style="background-color:#C40B0B">Avoid This County: {{ worstCounty }}</div>
  <div class="ouputText" style="background-color:#267205">Consider One Of These Counties:
    {% for key,value in bestCounties.iterrows() %}
      <p style="margin-left:30px">{{ key }} Prob: {{ value['Probability'] }}></p>
    {% endfor %}
  </div> 
</div>
</form>
</body>
</html>
